.config*
*.o
**/*.*o
**/*.*ko
**/*.order
**/*.*release
**/*.*builtin
**/.*.cmd
**/.*.tmp
**/.*.o.cmd
**/*.mod.c
**/*.s
**/*.a
System.map
include/generated/compile.h
include/generated/utsrelease.h
vmlinux
.missing-syscalls.d
.tmp_versions/
.version
.vmlinux.cmd
vmlinux.o
vmlinux
Module.symvers
arch/arm/include/generated/*
include/config/*
include/generated/
usr/.initramfs_data.cpio.d
