.config*
*.o
**/*.*o
**/*.*ko
**/*.order
**/*.*release
**/*.*builtin
**/.*.o.cmd
System.map
include/generated/compile.h
include/generated/utsrelease.h
vmlinux
.missing-syscalls.d
.tmp_versions/
.version
.vmlinux.cmd
vmlinux.o
vmlinux
